src/ru/sstu/lessons/lesson15/firma/CCX84_10082015.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2015 sp2 (http://www.altova.com) by Gorokhov Dmitrii (MOSCOW EXCHANGE) -->
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<!--Отчет об оценке Обеспечения-->
	<!--Collateral valuation report-->
	<xs:simpleType name="DOCTYPEID_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Идентификатор типа документа в системе электронного документооборота"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[A-Z,0-9,_,//,А-Я]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DOCNO_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Уникальный учетный номер документа в системе электронного документооборота"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="12"/>
			<xs:pattern value="[A-Z,0-9,//]{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SENDERID_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Идентификатор фирмы отправителя/получателя ЭДО"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SENDERNAME_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Наименование фирмы отправителя/получателя в системе ЭДО"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="REMARKS_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Примечание к документу"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RECNO_Type">
		<xs:annotation>
			<xs:documentation>Тип "Номер записи"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FIRMID_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Идентификатор фирмы"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FIRMNAME_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Краткое наименование фирмы"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FIRMNAME_LONG_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Hаименование фирмы"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FIRM_INN_Type">
		<xs:annotation>
			<xs:documentation>Тип: "ИНН фирмы"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BOARDID_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Код, присвоенный режиму торгов"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BOARD_NAME_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Наименование режима торгов"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SECURITYID_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Идентификатор ценной бумаги"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SEC_SHORT_NAME_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Краткое наименование ценной бумаги"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SEC_NAME_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Полное наименование ценной бумаги"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SEC_TYPE_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Тип ценной бумаги"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TRDACCID_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Идентификатор торгового счета"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CURRENCYID_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Идентификатор вылюты"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CURRENCYNAME_Type">
		<xs:annotation>
			<xs:documentation>Тип "Наименование валюты"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SETTLECODE_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Код расчётов"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BUYSELL_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Вид сделки 'B'-покупка, 'S'-продажа"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:enumeration value="B"/>
			<xs:enumeration value="S"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="YES_NO_Type">
		<xs:annotation>
			<xs:documentation>Тип: " "Y"-YES, "N"-NO"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TRADE_PERIOD_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Период торгов"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
			<xs:enumeration value="C"/>
			<xs:enumeration value="N"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DECIMALS_Type">
		<xs:annotation>
			<xs:documentation>Тип "Число значимых знаков после запятой"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QUANTITY_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Количество"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
			<xs:fractionDigits value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FLOAT_20.2_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Вещественное число с длиной дробной части = 2"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FLOAT_20.4_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Вещественное число с длиной дробной части = 4"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PRICE_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Цена, ставка"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
			<xs:fractionDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="WEEKDAY_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Наименование дня недели"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
			<xs:enumeration value="Понедельник"/>
			<xs:enumeration value="Вторник"/>
			<xs:enumeration value="Среда"/>
			<xs:enumeration value="Четверг"/>
			<xs:enumeration value="Пятница"/>
			<xs:enumeration value="Суббота"/>
			<xs:enumeration value="Воскресенье"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TRADENO_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Номер сделки/заявки/отчета в торговой системе"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
			<xs:fractionDigits value="0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ORDER_TYPE_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Тип заявки"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TRADE_TYPE_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Тип сделки"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EXCHANGEID_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Идентификатор торговой площадки"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CLIENT_CODE_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Код клиента"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CLIENT_DETAILS_Type">
		<xs:annotation>
			<xs:documentation>Тип "ИНН или № паспорта клиента"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="41"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DETAILS_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Идентификационные данные клиента (ИНН или номер паспорта)"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MATHREF_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Ссылка"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BROKERREF_Type">
		<xs:annotation>
			<xs:documentation>Тип: "Дополнительная справочная информация"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EXTREF_Type">
		<xs:annotation>
			<xs:documentation>Тип "Поле-примечание, используется для обратной связи с внешними системами"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INFTYPE_Type">
		<xs:annotation>
			<xs:documentation>Тип "Тип информации"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CLEARINGTYPE_Type">
		<xs:annotation>
			<xs:documentation>Тип "Тип клиринга"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="S"/>
			<xs:enumeration value="M"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SESSION_Type">
		<xs:annotation>
			<xs:documentation>Тип "Номер клиринговой сессии"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="REPOPART_Type">
		<xs:annotation>
			<xs:documentation>Тип "Часть РЕПО (первая или вторая)"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="REPOPERIOD_Type">
		<xs:annotation>
			<xs:documentation>Тип "Срок сделки РЕПО"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INFOTYPE_Type">
		<xs:annotation>
			<xs:documentation>Тип "Информация о счетах или о пользователях"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="A"/>
			<xs:enumeration value="U"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CHANGED_Type">
		<xs:annotation>
			<xs:documentation>Тип "Признак изменения данных"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="D"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DEPACCID_Type">
		<xs:annotation>
			<xs:documentation>Тип "Счет депо"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DEPUNITID_Type">
		<xs:annotation>
			<xs:documentation>Тип "Раздел счета депо"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="17"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="REALACCOUNT_Type">
		<xs:annotation>
			<xs:documentation>Тип "Номер счета в РЦ"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CLEARINGCENTERID_Type">
		<xs:annotation>
			<xs:documentation>Тип "Код РЦ"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CLEARINGCENTERNAME_Type">
		<xs:annotation>
			<xs:documentation>Тип "Наименование РЦ"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BANKACCID_Type">
		<xs:annotation>
			<xs:documentation>Тип "Код денежной позиции"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EXTSETTLECODE_Type">
		<xs:annotation>
			<xs:documentation>Тип "Расчетный код Участника"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ACCEPTNO_Type">
		<xs:annotation>
			<xs:documentation>Тип "Номер подтверждения УКО"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="21"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EXCHANGENAME_Type">
		<xs:annotation>
			<xs:documentation>Тип "Наименование биржи"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="120"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DOC_REQUISITES_Type">
		<xs:annotation>
			<xs:documentation xml:lang="RUS">Реквизиты документа в системе электронного документооборота</xs:documentation>
			<xs:documentation xml:lang="ENG">Document metadata</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DOC_DATE" type="xs:date" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="RUS">Дата формирования файла</xs:documentation>
				<xs:documentation xml:lang="ENG">Date of the document</xs:documentation>
			</xs:annotation>
			<!--Дата формирования документа-->
		</xs:attribute>
		<xs:attribute name="DOC_TIME" type="xs:time" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="RUS">Время формирования файла</xs:documentation>
				<xs:documentation xml:lang="ENG">File generation time</xs:documentation>
			</xs:annotation>
			<!--Время формирования документа-->
		</xs:attribute>
		<xs:attribute name="DOC_NO" type="DOCNO_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="RUS">Уникальный учетный номер документа в системе электронного документооборота</xs:documentation>
				<xs:documentation xml:lang="ENG">Document unique number in the electronic document exchange system</xs:documentation>
			</xs:annotation>
			<!--Уникальный учетный номер документа-->
		</xs:attribute>
		<xs:attribute name="DOC_TYPE_ID" type="DOCTYPEID_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="RUS">Идентификатор типа документа в системе электронного документооборота</xs:documentation>
				<xs:documentation xml:lang="ENG">Document type ID in the electronic document exchange system</xs:documentation>
			</xs:annotation>
			<!--Идентификатор типа документа-->
		</xs:attribute>
		<xs:attribute name="SENDER_ID" type="SENDERID_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="RUS">Идентификатор отправителя</xs:documentation>
				<xs:documentation xml:lang="ENG">Sender ID</xs:documentation>
			</xs:annotation>
			<!--Идентификатор фирмы-отправителя документа-->
		</xs:attribute>
		<xs:attribute name="SENDER_NAME" type="SENDERNAME_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="RUS">Краткое наименование отправителя</xs:documentation>
				<xs:documentation xml:lang="ENG">Sender short name</xs:documentation>
			</xs:annotation>
			<!--Наименование (краткое) организатора системы электронного документооборота-->
		</xs:attribute>
		<xs:attribute name="RECEIVER_ID" type="SENDERID_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="RUS">Идентификатор получателя</xs:documentation>
				<xs:documentation xml:lang="ENG">Recipient ID</xs:documentation>
			</xs:annotation>
			<!--Идентификатор фирмы-получателя документа-->
		</xs:attribute>
		<xs:attribute name="REMARKS" type="REMARKS_Type" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="RUS">Текст примечания к файлу</xs:documentation>
				<xs:documentation xml:lang="ENG">Additional remarks</xs:documentation>
			</xs:annotation>
			<!--Примечание к документу-->
		</xs:attribute>
		<xs:attribute name="SIGNAUTHOR" type="xs:string" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="RUS">ФИО автора ЭЦП</xs:documentation>
				<xs:documentation xml:lang="ENG">Name of the electronic signature author</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="MICEX_DOC">
		<xs:annotation>
			<xs:documentation xml:lang="RUS">Корневой элемент (root element) XML документа</xs:documentation>
			<xs:documentation xml:lang="ENG">Document root element</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DOC_REQUISITES"/>
				<xs:element ref="CCX84"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DOC_REQUISITES" type="DOC_REQUISITES_Type">
		<xs:annotation>
			<xs:documentation xml:lang="RUS">Блок информации о документе</xs:documentation>
			<xs:documentation xml:lang="ENG">Document metadata</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CCX84">
		<xs:annotation>
			<xs:documentation xml:lang="RUS">Блок данных отчета</xs:documentation>
			<xs:documentation xml:lang="ENG">Element with report data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SETTLE" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ReportDate" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Дата, за которую формируется отчет</xs:documentation>
					<xs:documentation xml:lang="ENG">Report date</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ClearingFirmId" type="FIRMID_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Идентификатор Участника клиринга</xs:documentation>
					<xs:documentation xml:lang="ENG">Clearing Member ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ClearingFirmName" type="FIRMNAME_LONG_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Наименование Участника клиринга</xs:documentation>
					<xs:documentation xml:lang="ENG">Clearing Member name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ClearingFirmNameEN" type="FIRMNAME_LONG_Type" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Наименование Участника клиринга (английское)</xs:documentation>
					<xs:documentation xml:lang="ENG">Clearing Member name (eng)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SETTLEDATE">
		<xs:annotation>
			<xs:documentation xml:lang="RUS">Блок данных по дате исполнения</xs:documentation>
			<xs:documentation xml:lang="ENG">Element with data per settlement date</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence/>
			<xs:attribute name="SettleDate" type="xs:date" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Дата исполнения</xs:documentation>
					<xs:documentation xml:lang="ENG">Settlement date</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SETTLE">
		<xs:annotation>
			<xs:documentation xml:lang="RUS">Блок информации по расчетному коду</xs:documentation>
			<xs:documentation xml:lang="ENG">Element with data per settlement code</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RECORDS" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="ExtSettleCode" type="EXTSETTLECODE_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Расчетный код Участника клиринга</xs:documentation>
					<xs:documentation xml:lang="ENG">Clearing Member settlement code</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SumValue" type="FLOAT_20.2_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Общая стоимость Обеспечения в рублях</xs:documentation>
					<xs:documentation xml:lang="ENG">Full collateral value in rubles</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="LockValue" type="FLOAT_20.2_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Стоимость Обеспечения для целей расчета норматива текущей ликвидности банка в рублях</xs:documentation>
					<xs:documentation xml:lang="ENG">Collateral value in rubles for calculation current liquidity ratio purposes </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FreeValue" type="FLOAT_20.2_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Стоимость Обеспечения для целей расчета норматива мгновенной ликвидности банка в рублях</xs:documentation>
					<xs:documentation xml:lang="ENG">Collateral value in rubles for calculation instant liquidity ratio purposes </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SingleLimit" type="FLOAT_20.2_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Единый лимит</xs:documentation>
					<xs:documentation xml:lang="ENG">Single limit</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="FIRM">
		<xs:annotation>
			<xs:documentation xml:lang="RUS">Блок информации по Участнику торгов</xs:documentation>
			<xs:documentation xml:lang="ENG">Element with data per Trading Member</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CURRPAIR" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="FirmId" type="FIRMID_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Регистрационный код Участника торгов</xs:documentation>
					<xs:documentation xml:lang="ENG">Registration code of the Trading Member</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FirmName" type="FIRMNAME_LONG_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Наименование Участника торгов</xs:documentation>
					<xs:documentation xml:lang="ENG">Trading Member name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FirmNameEN" type="FIRMNAME_LONG_Type" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Наименование Участника торгов (английское)</xs:documentation>
					<xs:documentation xml:lang="ENG">Trading Member name (eng)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CURRPAIR">
		<xs:annotation>
			<xs:documentation xml:lang="RUS">Блок данных валютной пары</xs:documentation>
			<xs:documentation xml:lang="ENG">Element with data per currency pair</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence/>
			<xs:attribute name="CoCurrencyId" type="CURRENCYID_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Идентификатор сопряженной валюты</xs:documentation>
					<xs:documentation xml:lang="ENG">Quote currency ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CoCurrencyName" type="CURRENCYNAME_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Наименование сопряженной валюты</xs:documentation>
					<xs:documentation xml:lang="ENG">Quote currency name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CoCurrencyNameEN" type="CURRENCYNAME_Type" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Наименование сопряженной валюты (английское)</xs:documentation>
					<xs:documentation xml:lang="ENG">Quote currency name (eng)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RECORDS">
		<xs:annotation>
			<xs:documentation xml:lang="RUS">Блок данных по сделке</xs:documentation>
			<xs:documentation xml:lang="ENG">Element with data per trade</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="CurrencyId" type="CURRENCYID_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Идентификатор валюты/драгоценного металла</xs:documentation>
					<xs:documentation xml:lang="ENG">Currency/Precious metal ID</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CurrencyName" type="CURRENCYNAME_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Наименование валюты/драгоценного металла</xs:documentation>
					<xs:documentation xml:lang="ENG">Currency/Precious metal name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CurrencyNameEN" type="CURRENCYNAME_Type" use="optional">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Наименование валюты/драгоценного металла (английское)</xs:documentation>
					<xs:documentation xml:lang="ENG">Currency/Precious metal name (eng)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Quantity" type="FLOAT_20.2_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Размер Обеспечения (в единицах валюты /в граммах)</xs:documentation>
					<xs:documentation xml:lang="ENG">Collateral value (in currency units / grams)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="LockQuantity" type="FLOAT_20.2_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Размер Обеспечения для целей расчета норматива текущей ликвидности банка (в единицах валюты /в граммах)</xs:documentation>
					<xs:documentation xml:lang="ENG">Collateral value for calculation current liquidity ratio purposes (in currency units / grams)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FreeQuantity" type="FLOAT_20.2_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Размер Обеспечения для целей расчета норматива мгновенной ликвидности банка (в единицах валюты /в граммах)</xs:documentation>
					<xs:documentation xml:lang="ENG">Collateral value for calculation instant liquidity ratio purposes  (in currency units / grams)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Value" type="FLOAT_20.2_Type" use="required">
				<xs:annotation>
					<xs:documentation xml:lang="RUS">Стоимость Обеспечения в рублях</xs:documentation>
					<xs:documentation xml:lang="ENG">Collateral value in rubles</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
